

name: Build and Publish


on:
  push:
    tags:
      - "*.*.*"


jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: gradle/gradle-build-action@v3
      - run: ./gradle assembleDebug && ./gradlew packageDebugAndroidTest
      - run: mv app/build/outputs/apk/debug/app-debug.apk app-uiautomator.apk
      - run: mv app/build/outputs/apk/androidTest/debug/app-debug-androidTest.apk app-uiautomator-test.apk
      - uses: ncipollo/release-action@v1
        with:
             artifacts: "*.apk"
             token: ${{ github.token }}
